[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/reactive-smart-contract-demos"]
	path = contracts/lib/reactive-smart-contract-demos
	url = https://github.com/Reactive-Network/reactive-smart-contract-demos
[submodule "contracts/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts/lib/openzeppelin-foundry-upgrades"]
	path = contracts/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/uniswapv2-solc0.8"]
	path = contracts/lib/uniswapv2-solc0.8
	url = https://github.com/WSbaikaishui/uniswapv2-solc0.8
